.header {
    padding: 70px; /* some padding */
    text-align: center; /* center the text */
    background: #129c80; /* green background */
    color: white; /* white text color */
    
  }
  
  /* Increase the font size of the <h1> element */
  .header h1 {
    font-size: 45px;
  }
  
/* Style the top navigation bar */
.navbar {
    overflow: hidden; /* Hide overflow */
    background-color: rgb(51, 51, 51); /* Dark background color */
  }
  
  /* Style the navigation bar links */
  .navbar a {
    float: left; /* Make sure that the links stay side-by-side */
    display: block; /* Change the display to block, for responsive reasons (see below) */
    color: white; /* White text color */
    text-align: center; /* Center the text */
    padding: 14px 20px; /* Add some padding */
    text-decoration: none; /* Remove underline */
  }
  
  /* Right-aligned link */
  .navbar a.right {
    float: right; /* Float a link to the right */
  }
  
  /* Change color on hover/mouse-over */
  .navbar a:hover {
    background-color: #ddd; /* Grey background color */
    color: black; /* Black text color */
  }
  
  /* Ensure proper sizing */
* {
    box-sizing: border-box;
  }
  
  /* Column container */
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    flex: 25%; /* Set the width of the sidebar */
    background-color: #e9e9e9; /* Grey background color */
    padding: 20px; /* Some padding */
  }
  
  .peli1 {
    flex: 30%; /* Set the width of the main content */
    background-color: #f1f1f1; /* White background color */
    padding: 20px; /* Some padding */ 
    text-align: center;
  }
  /* Main column */
  .main {
    flex: 50%; /* Set the width of the main content */
    background-color: #f1f1f1; /* White background color */
    padding: 20px; /* Some padding */
    
  }

  .main2 {
    flex: 75%; /* Set the width of the main content */
    background-color: #f1f1f1; /* White background color */
    padding: 20px; /* Some padding */
    
  }

  .pic {
    flex: 20%; /* Set the width of the main content */
    background-color: #f1f1f1; /* White background color */
    padding: 20px; /* Some padding */
    
  }

  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row {
      flex-direction: column;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }

  .footer {
    padding: 20px; /* Some padding */
    text-align: center; /* Center text*/
    font-size: 20px;
    background: rgb(92, 92, 92); /* Grey background */
    color: white;
    
  }